#first{   
    background-color: antiquewhite;
    color: brown;           
}

.girl{
    background-color: blue;
    
}

.sunmi{
    background-color: black;
    font-size: large;
    color: red;

}

iloc[:, 1:3]